<h1><a id="conventions">Conventions</a></h1>

<p>This book shares many real life anecdotes to help illustrate a point or provide additional context.</p>

<p>These anecdotes are indicated by the following icons, and written in italics:</p>

<div><img class="icon" alt="Anecdotes Icon" src="images/anecdote.png"/></div>

<p class="anecdote">
    This is a real life story or example that relates to the main text.
</p>

<h1>Feedback</h1>

<p>This book is developed as an open source project.</p>

<p>The book's "source code" is available in a public GitHub repository (<a href="https://oc.to/KkIBCC">https://oc.to/KkIBCC</a>).</p>

<p>We also have an open discussion for feedback (<a href="https://oc.to/HneyQx">https://oc.to/HneyQx</a>).</p>