<h1><a id="executivesummary">Executive Summary</a></h1>

<p>
    Perhaps the best summary of DevOps is a quote from Werner Vogels, Amazon's CTO, who said in 2006 "You build it, you
    run it." In 2006 AWS comprised 3 services: EC2, S3, and SQS, and it was possible to hold the entirety of AWS in your
    head. Today, AWS has hundreds of services, and is just one of many cloud platforms. We've long passed the point
    where any individual or team can be expected to hold such complexity in their heads. And yet "you build it, you run
    it" remains synonymous with DevOps.
</p>

<p>
    Meanwhile, DevOps has grown to encompass much more than simply building and running technical solutions. DevOps
    teams are responsible for meeting performance metrics defined by research organizations like DevOps Research and
    Assessment (DORA) while also support high performing team structures such as those defined by Westrum's
    organizational culture. The concept of DevOps has proven so popular and grown to encompass such a wide range of
    disciplines, tools, and processes that it is no longer possible to define where DevOps ends.
</p>

<p>
    Since DevOps doesn't place any limits on a DevOps team's responsibility, individual DevOps teams must take
    responsibility for defining a set of architectural decisions to guide the implementation of their projects and
    processes.
</p>

<p>
    Platform engineering is a strategy for DevOps teams to define, share, and implement architectural decisions designed
    to provide common solutions to common problems. This is done via an Internal Developer Platform (IDP). An IDP
    has 3 requirements:
</p>

<ul>
    <li>Provide a central repository of architectural decisions made by DevOps teams</li>
    <li>Provide the ability to implement architectural decisions throughout DevOps teams at scale</li>
    <li>Implement feedback processes that allow architectural decisions to be improved over time</li>
</ul>

<p>
    Ultimately, the goal of platform engineering teams is to improve the productivity and well-being of DevOps team
    members. This is commonly referred to as Developer Experience, or DevEx. More specifically, DevEx is measured
    by three dimensions, as defined by the paper "DevEx: What Actually Drives Productivity":
</p>

<ul>
    <li>Flow state</li>
    <li>Cognitive load</li>
    <li>Feedback loops</li>
</ul>

<div><img class="dev-ex-image" alt="DevEx Core Dimensions" src="images/devex.png"/></div>

<p>
    DevEx as a Service (DEaaS) is the practice of platform engineering with the explicit goal of improving DevEx.
</p>

<p>
    DEaaS is also inspired by other "as-a-service" paradigms such as Infrastructure as a Service (IaaS), Platform as
    a Service (PaaS), and Software as a Service (SaaS).
</p>

<p>
    One of the defining characteristics of these services is that
    they clearly articulate what you are responsible for and what you are not. For example, IaaS customers know that they
    are not responsible for purchasing hardware or racking servers. Likewise, SaaS customers know they
    are not responsible for patching the software.
</p>

<p>
    In the same way, DEaaS explicitly defines the levels of responsibility associated with the various artifacts
    generated by the IDP. There are 3 responsibility models:
</p>

<ul>
    <li>
        Customer responsibility, or eventual inconsistency, where artifacts are provided to a customer, who then
        takes ownership of the artifacts and modifies them for their own needs
    </li>
    <li>
        Shared responsibility, or eventual consistency, where artifacts are shared between the DEaaS team and their
        customers, with any valuable modifications eventually shared between both parties
    </li>
    <li>
        Centralized responsibility, or enforced consistency, where the DEaaS team owns the artifacts generated by the
        IDP and customers have a limited ability to customize them
    </li>
</ul>

<div><img class="responsibility-model-image" alt="Customer responsibility diagram"
          src="images/customer-responsibility-model.png"/></div>

<div><img class="responsibility-model-image" alt="Shared responsibility diagram"
          src="images/shared-responsibility-model.png"/></div>

<div><img class="responsibility-model-image" alt="Central responsibility diagram"
          src="images/central-responsibility-model.png"/></div>

<p>
    DEaaS teams must be mindful of the constraints they face when distributing many artifacts, allowing customers to
    customize
    those artifacts, and retaining the ability to update artifacts over time. These three concerns form the
    responsibility triad, and DEaaS teams can optimize for any two concerns.
</p>

<div><img class="responsibility-triad-image" alt="Responsibility triad" src="images/optimize-for-any-two.png"/></div>

<p>
    DEaaS is offered as an internal service, and like any service, requires supporting business functions such as
    documentation,
    support, issue tracking, monitoring, marketing, and training.
</p>

<div><img class="responsibility-triad-image" alt="DEaaS Diagram" src="images/deaas-diagram.png"/></div>

<p>
    The architectural decisions maintained by the DEaaS team can be broken down into functional and non-functional
    requirements. Functional requirements describe what a system shall do, while non-functional requirements describe
    how a system shall be.
</p>

<p>
    A common type of artifact for DEaaS teams are golden pipelines describing how software is built and deployed. 10
    common non-functional requirements related to the deployment of software are:
</p>

<ul>
    <li>Repeatable deployments</li>
    <li>Verifiable deployments</li>
    <li>Seamless deployments</li>
    <li>Recoverable deployments</li>
    <li>Visible deployments</li>
    <li>Measurable deployments</li>
    <li>Auditable deployments</li>
    <li>Standardized deployments</li>
    <li>Maintainable deployments</li>
    <li>Coordinated deployments</li>
</ul>

<div><img class="radar-chart-image" alt="Deployment non-functional requirements" src="images/radarchart.png"/></div>

<p>
    In addition to measuring the impact on DevEx, DEaaS teams can also measure:
</p>

<ul>
    <li>Metrics meaningful to the customer, such as the impact on DORA metrics</li>
    <li>Usage metrics, such as how many deployment pipelines, cloud resources, or development environments were created
        via the IDP
    </li>
    <li>North star metrics, such as the time it takes for a new employee to commit their 10th PR</li>
</ul>

<p>
    Ultimately the value of a DEaaS team must be measured by business impact. The three areas that any
    business initiative can impact are:
</p>

<ul>
    <li>Revenue</li>
    <li>Risk</li>
    <li>Cost</li>
</ul>

<p>
    DEaaS allows you to scale your DevOps teams by providing them with high quality and supported architectural
    decisions
    on which to build valuable solutions to unique problems. The responsibility models used by DEaaS clearly identify
    what DevOps teams and individuals are, and are not, responsible for. Structuring DEaaS as an internal business service
    ensures common business requirements such as documentation, training, support, and metrics are provisioned from the
    outset. DEaaS measures its impact on its customers through the improvement of DevEx, the impact on customer
    specific outcomes such
    as the DORA metrics, how widespread the use of IDP artifacts are, or other north-star metrics. DEaaS also measures
    its business impact on revenue, risk, or cost.
</p>