<h1><a id="introduction">Introduction</a></h1>

<p>We ask a lot of DevOps teams.</p>

<p>The days of running software on relatively unchanging platforms are over. Cloud-native technologies and cloud
    providers iterate and expand their offerings at a breathtaking pace. The Cloud Native Computing Foundation (CNCF)
    landscape looks like the periodic table if it had over a thousand elements. Meanwhile, cloud providers host annual
    conventions proudly announcing dozens of new headline features. It would be a dull convention if they didn’t.</p>

<p>New paradigms like GitOps, DevSecOps, and DevTestOps have entered our lexicon. They often have nebulous definitions
    but enough gravitas that they're cited and funded as part of corporate strategies.</p>

<p>Metrics derived from large-scale research programs like DevOps Research and Assessment (DORA) measure the performance
    of DevOps teams. These metrics show that the hallmarks of high-performing teams are:</p>

<ul>
    <li>
        <p>Short release cycles</p>
    </li>
    <li>
        <p>Fast release cadences</p>
    </li>
    <li>
        <p> Low failure rates</p>
    </li>
    <li>
        <p>Quick recovery from failure</p>
    </li>
</ul>

<p>The shift-left mindset accepts that discovering errors in production code is costly. It encourages DevOps teams to
    identify and fix these errors earlier in their lifecycle.</p>

<p>DevOps teams also face a hostile environment. The Department of Homeland Security noted in its 2022 year review that
    “the threat of cyberattacks from adverse nation states and criminal actors has only increased.” These threats
    exploit vulnerabilities. High-profile examples, like those discovered in Log4J, left many teams scrambling to
    identify if they were affected and to deploy fixes, often at a high cost.</p>

<p>Individuals can expect a long and prosperous career gaining expertise in any one of these areas. So it's no wonder
    that asking DevOps teams to tackle all of these scenarios as part of their regular duties can yield
    unsatisfactory results.</p>

<p>DevOps teams understand that ad-hoc solutions to these challenges do not scale over the long term. The inability to
    scale proven solutions has given rise to Platform Engineering. The goal of Platform Engineering is to develop
    scalable solutions to improve the efficiency and well-being, or Developer Experience (DevEx), of DevOps teams.</p>

<p>Cloud providers offer self-service low-level infrastructure such as virtual machines and networking as Infrastructure
    as a Service (IaaS). They also offer more specific services, like web application or container hosting as Platform
    as a Service (PaaS), and high-level applications as Software as a Service (SaaS). In the same way, platform teams
    offer DevEx as a Service (DEaaS).</p>

<p>Platform teams expose DEaaS via an Internal Developer Platform (IDP). An IDP
    encapsulates business goals, best practices, and hard-won practical experience in a scalable internal product. It
    provides DevOps teams with a self-service platform to implement trusted and opinionated solutions.</p>

<p>This book provides advice for the founding members of a platform team during the early stages of implementing a
    Platform Engineering strategy. It also provides practical checklists to facilitate discussions and guide decisions.
    Completing the sample checklists ensures that you have a clear understanding of:</p>

<ul>
    <li>
        <p>The value your platform team provides to the business</p>
    </li>
    <li>
        <p>The improvements your IDP introduce to DevOps workflows</p>
    </li>
    <li>
        <p>How you interact with and support internal customers</p>
    </li>
    <li>
        <p>The trade-offs you need to make for the long-term success of your IDP</p>
    </li>
</ul>

