<h1><a id="introduction">Introduction</a></h1>

<p>We ask a lot of DevOps teams.</p>

<p>The days of running software on relatively unchanging platforms are over, with cloud-native technologies and cloud
    providers iterating and expanding their offerings at a breathtaking pace. The Cloud Native Computing Foundation
    (CNCF) landscape looks like the periodic table if the periodic table had over a thousand elements. Meanwhile, cloud
    providers host annual conventions proudly announcing dozens of new headline features. It would be a dull convention
    if they didn’t.</p>

<p>New paradigms like GitOps, DevSecOps, and DevTestOps have entered our lexicon, often with nebulous definitions but
    having enough gravitas to be cited and funded as part of corporate strategies.</p>

<p>Metrics derived from large-scale research programs like DevOps Research and Assessment (DORA) measure the performance
    of DevOps teams. These metrics show short release cycles, fast release cadences, low failure rates, and quick
    recovery from failure are the hallmarks of high-performing teams.</p>

<p>The shift-left mindset accepts that discovering errors in production code is costly and damaging and encourages
    DevOps teams to identify and rectify these errors earlier in their lifecycle.</p>

<p>DevOps teams also face a hostile environment. The Department of Homeland Security noted in its 2022 year review that
    “the threat of cyberattacks from adverse nation states and criminal actors has only increased.” These threats
    exploit vulnerabilities, with high-profile examples like those discovered in Log4J, which left many teams scrambling
    to identify if they were affected and to deploy fixes, often at a high cost.</p>

<p>Individuals can expect a long and prosperous career gaining expertise in any one of these areas. So it is no wonder
    that asking DevOps teams to tackle all of these scenarios as part of their regular duties has yielded
    unsatisfactory results.</p>

<p>DevOps teams understand that ad-hoc solutions to these challenges do not scale over the long term. The inability to
    scale proven solutions has given rise to platform engineering, whose goal is to develop scalable solutions that
    improve the efficiency and well-being, or Developer Experience (DevEx), of DevOps teams.</p>

<p>In the same way that cloud providers offer self-service low level infrastructure such as virtual machines and
    networking as Infrastructure as a Service (IaaS), more specific services like web application or container hosting
    as Platform as a Service (Paas), and high level application as Software as a Service (SaaS), platform teams offer
    DevEx as a Service (DEaaS).</p>

<p>The specific technologies platform teams used to provide DEaaS form the Internal Developer Platform (IDP). An IDP
    encapsulates business goals, best practice, and hard-won practical experience in a scalable internal product,
    providing DevOps teams with a self-service platform to implement trusted and opinionated solutions.</p>

<p>This book provides advice for the founding members of a platform team during the early stages of implementing your
    platform engineering strategy, as well as practical checklists to facilitate discussions and guide decisions.
    Completing the sample checklists ensures that you have a clear understanding of the value your platform team
    provides to the business, the improvements your IDP will introduce to DevOps workflows, how you interact with and
    support internal customers, and what trade-offs are required to ensure the long-term success of your IDP.</p>