<h1><a id="pevalue">The value of Platform Engineering</a></h1>

<p>Despite being relatively new, studies, articles, and industry examples prove the value of Platform Engineering to engineering organizations.</p>

<p>This chapter is most useful for organizations considering establishing a platform team. Such a request requires a compelling argument for funding. It's essential to relate the value of a product team and the IDP they create back
    to business goals. Supporting those arguments with industry survey results and external examples of success gives you credibility. It provides those who fund this team confidence that Platform Engineering is not a fad.</p>

<h2>Platform Engineering by the numbers</h2>

<p>The HashiCorp “2023 State of Cloud Strategy Survey” report (<a href="https://oc.to/vr6S2Q">https://oc.to/vr6S2Q</a>) notes that:</p>

<p class="quote">The presence of a centralized platform team is a foundational element of a well-rounded
    multi-cloud strategy.</p>

<p>The report then says:</p>

<p class="quote">Platform teams are a key pillar of operational maturity. These centralized hubs effectively
    manage people and standardize processes, but organizations need skilled professionals to staff them. Those without
    platform teams cited a lack of skills/staff (36%) as the reason why they hadn’t put one in place to manage their
    cloud strategy — a rise of 14 percentage points from 2022’s State Of Cloud Strategy Survey.</p>

<p>The Puppet “State of DevOps Report Platform Engineering Edition 2023” (<a href="https://oc.to/7O5fqO">https://oc.to/7O5fqO</a>) reports that 68% of
    respondents saw an increase in development velocity after implementing a platform team. In addition, 93% of
    respondents reported that development speed after the inception of a platform team increased “A great deal” or
    “somewhat”, with only 5% reporting “very little”.</p>

<p>Platform teams also improved DevEx, with the report showing that:</p>

<p class="quote">Most notably, respondents at firms with platform engineering in place are more likely to
    identify as “very satisfied.”</p>

<p>In his presentation “Why did you build an Internal Developer Platform at GitHub?” (<a href="https://oc.to/ItKChg">https://oc.to/ItKChg</a>), Jason
    Warner, CTO of GitHub, notes that scaling processes with people was not a viable option:</p>

<p class="quote">When we hit that scale on operations, or the infrastructure team, [who were] responsible for
    coordinating all those things that were happening and how to release it, it was unmanageable.</p>

<p class="quote">You couldn’t scale that with people.</p>

<p>Eugene Kim of Insider (<a href="https://oc.to/8V7w5I">https://oc.to/8V7w5I</a>) reported the efforts of Amazon CEO Andy Jassy to fix a crumbling
    engineering culture with a new unit called Amazon Software Builder Experience (ASBX). The article notes the
    engineering team's frustrations:</p>

<p class="quote">In a recent internal survey, seen by Insider, 34% of the engineers said they spent 4 to 8
    hours on undifferentiated efforts weekly, or roughly 10% to 20% of their week on things that are not related to
    building new products. Another survey found that engineers spend 30% of their time on "repetitive tasks."</p>

<p>The article goes on to list the 6 tenets used by the ASBX team:</p>

<ol>
    <li>Software builders across Amazon require consistent, interoperable, and extensible tools to construct and operate
        applications at our peculiar scale; organizations will extend on our solutions for their specialized business
        needs.
    </li>
    <li>Amazon's customers benefit when software builders spend time on novel innovation. Undifferentiated work
        elimination, automation, and integrated opinionated tooling reserve human interaction for high-judgment
        situations.
    </li>
    <li>Our tools must be available for use even in the worst of times, which happens to be when software builders may
        most need to use them: we must be available even when others are not.
    </li>
    <li>Software builder experience is the summation of tools, processes, and technology owned throughout the company,
        relentlessly improved through the use of well-understood metrics, actionable insights, and knowledge
        sharing.
    </li>
    <li>Amazon's industry-leading technology and access to top experts in many fields provides opportunities for
        builders
        to learn and grow at a rate unparalleled in the industry.
    </li>
    <li>As builders we are in a unique position to codify Amazon's values into the technical foundations; we foster a
        culture of belonging by ensuring our tools, training, and events are inclusive and accessible by design.
    </li>
</ol>

<p>While the ASBX team doesn't specifically describe itself as a platform team, a focus on "undifferentiated work
    elimination, automation, and integrated opinionated tooling", the relentless improvement of "software builder
    experience", and "codifying" organizational values all speak to the principals of a platform team.</p>

<p>More than the specific highlights above, the most valuable things to take away from this chapter are the reports and industry examples that quantify the value of platform teams and IDPs. These examples are invaluable to have in your back pocket when quantifying the value of a platform team.</p>

<h2>Quantifying the business value</h2>

<p>There are many ways to show the potential value of a business proposal. But, as we'll discover in the
    "Planning your Internal Developer Platform" chapter, the initial members of a platform team are likely to be
    generalists rather than seasoned salespeople. So, we'll need a straightforward methodology to articulate the business
    value of a platform team.</p>

<p>It's worth acknowledging that quantifying the value of a platform team is not a trivial task. In the podcast "The Journey To Build your Platform Engineering Team"
(<a href="https://oc.to/a07RuP">https://oc.to/a07RuP</a>), Alejandro Sanchez-Giraldo, Head of Quality Engineering &amp; Observability At DevOps1, noted:</p>

<p class="quote">
    I think the funding model is one of the biggest challenges around trying to build the platform engineering teams,
    because to my point it's really hard to have a direct correlation to the value that it brings.
</p>

<p>Paul Kelcey, VP Engineering at NurtureCloud, then says:</p>

<p class="quote">
    It is actually very difficult because it isn't always like a direct path.
</p>

<p class="quote">
    I find it's good to attack it on 2 fronts. The first one is to talk about what the value is by introducing it. And the second is to talk about the cost of not
    introducing it.
</p>

<p class="quote">
    You can talk about like the rate at which you know features are being released and how that's decreasing. And you can extrapolate -
    obviously this is not sustainable.
</p>

<p>The post “Identified Pain Is About Customer Outcomes” (<a href="https://oc.to/iktukN">https://oc.to/iktukN</a>) lists 4 concerns, or pain points,
    that all business initiatives must consider:</p>

<ul>
    <li>Revenue – is there a pain impacting their booking revenue? Does your solution solve this pain?</li>
    <li>Cost – is there a pain driving up the cost of doing business? Can your solution solve this pain?</li>
    <li>Risk – is there a new regulation they are in danger of breaching? Does your solution mitigate the pain?</li>
    <li>Shareholder commitments – have they committed to something to their shareholders, which they'll fail to deliver without your solution?
    </li>
</ul>

<p>Any new initiative must ultimately impact one or more of these concerns, where risk and cost decrease while revenue
    increases. It is harder to show independent increases to shareholder value, but it's included here for completeness.</p>

<div><img class="icon" alt="Anecdotes Icon" src="images/anecdote.png"/></div>

<p><i>Emma Maslen, the author of the post above, included shareholder value. She did this to capture cases where businesses were
    working towards efforts like environmental initiatives or diversity, equity, and inclusivity that may not necessarily
    impact risk, cost, or revenue. In most cases, shareholder value is a consequence of changes to the other 3 pain
    points.</i></p>

<p>Fortunately, an IDP has plenty of scope to impact business value positively. By infusing best practices at scale
    throughout your DevOps teams, it is reasonable to argue that your IDP directly:</p>
    
<ul>
    <li>Reduces friction</li>
    <li>Improves DevEx</li>
    <li>Improves deployment frequency</li>
    <li>Improves compliance</li>
</ul>

<p>Importantly, these improvements are repeatable and scalable. The final step is to describe these improvements in terms of business concerns like risk, cost, or revenue.</p>

<p>You need to express the business value of a platform team as a number to ensure it is measurable. Defining measurable values involves answering questions like:</p>

<ul>
    <li>How much money will the organization earn from new features delivered as a result of the increased performance of DevOps teams?</li>
    <li>How much will standardizing on security practices across all projects reduce reputational risk?</li>
    <li>How much money will the organization save by removing the need for DevOps teams to manually respond to a newly published CVE?</li>
    <li>How many fewer staff members will leave DevOps teams in a year if the team removes 20% of undifferentiated work?</li>
</ul>

<p>Metrics and numbers can be sensitive subjects. It's easy to impose arbitrary values on people who may not
    appreciate the implications. Pia Nilsson, Lead Platform Developer and Experience Lead at Spotify, noted in her talk
    "Developer Enablement at Spotify" (<a href="https://oc.to/BXqhGK">https://oc.to/BXqhGK</a>) that co-creating metrics has been a successful
    approach:</p>

<p class="quote">I think the way I've seen it successful, and it took us a few years to get this right too,
    is to really go to the organization within your company, approach these leaders with empathy [...], and help them
    co-create metrics that would matter to them.</p>

<h2>Spare time platform teams</h2>

<p>A common symptom of an organically grown Platform Engineering strategy is spare-time platform teams. They're usually made up of a few enthusiastic engineers. These people tackled the technical aspect of an IDP and demonstrated enough value in their immediate orbit to justify maintaining it, if only in an ad-hoc manner.</p>

<p>Spare-time product teams can do fantastic work. As Eric S. Raymond teaches as the first lesson in "The Cathedral and
    the Bazaar" :</p>

<p class="quote">Every good work of software starts by scratching a developer’s itch.</p>

<p>However, such teams are one reorganization away from getting dispersed amongst their broader DevOps ecosystem. This makes them fragile. Clearly articulating the business value of a platform team makes it more resilient to changing business conditions.</p>

<h2>Example checklist</h2>

<p>The checklist below provides an example describing how an IDP may positively impact core business needs.</p>

<table>
    <tr>
        <td>
            Business Concern
        </td>
        <td>
            Impact
        </td>
    </tr>
    <tr>
        <td>
            Risk
        </td>
        <td>
            <p>An internal review identified 15 dependencies used in production applications with vulnerabilities rated as critical. 
                These vulnerabilities expose the company to data breaches and denial of service attacks. The current process
                of discovering vulnerabilities is reactive and ad-hoc, leaving production applications vulnerable for
                many months.</p>

            <p>An IDP that provides CI/CD pipelines including standardized security scanning steps lets DevOps teams identify which applications have vulnerable dependencies within one day of vulnerability reports being publicly released.</p>
        </td>
    </tr>
    <tr>
        <td>
            Cost
        </td>
        <td>
            <p>Exit surveys indicate that undifferentiated work contributed to 20% of those who quit last year. By
                reducing undifferentiated work, the IDP aims to reduce staff turnover and the cost of training new staff
                by $100,000 annually.</p>
        </td>
    </tr>
    <tr>
        <td>
            Revenue
        </td>
        <td>
            <p>New features took, on average, 6 months to be released to customers last year, with 17 lost
                opportunities due to missing product functionality.</p>

            <p>DevOps teams have identified that time spent waiting for infrastructure provisioning contributed at least
                4 weeks to this release time.</p>

            <p>By exposing self-service infrastructure provisioning, the IDP will reduce release times by 10%,
                allowing up to 3 new features to be released per year, resulting in the completion of 5 additional deals
                worth $75k per year.</p>
        </td>
    </tr>
</table>

<h2>Conclusion</h2>

<p>If you're looking to introduce a platform team, you must present a compelling business case for an IDP and the platform team responsible for it. This chapter provides insights into the benefits of Platform Engineering based on industry reports and examples.</p>

<p>We then distilled business value down to 3 pain points to attach quantifiable value to. We also provided an example checklist you can use when pitching a platform team to your organization.</p>
