<h1><a id="requirements">Functional and Non-Functional Requirements</a></h1>

<p>
    We now understand the purpose of an IDP is to allow architectural decisions to be implemented at scale throughout
    DevOps teams. The challenge is to determine the set of architectural decisions that most improve the DevEx of
    DevOps teams.
</p>

<p>
    Platform teams must articulate architectural decisions to two very different audiences: the business and DevOps
    teams.
</p>

<p>
    The business is interested in a high level description of a problem and its solution as well as a quantifiable
    measurement of the solution's value. DevOps teams are more interested in a technical description of a problem and
    the solution's implementation details.
</p>

<p>
    Describing an IDPs functionality in terms of functional and non-functional requirements allows platform teams to
    speak to both audiences. Non-functional requirements describe what a system will do for the business.
    Functional requirements describe how the system is implemented for the DevOps teams.</p>

<p>This distinction is captured by Wikipedia which provides this definition
    (<a href="https://oc.to/PFMuXO">https://oc.to/PFMuXO</a>):</p>

<blockquote><p>
    Broadly, functional requirements define what a system is supposed to do and non-functional requirements define how
    a system is supposed to be.
</p></blockquote>

<p>
    Wikipedia then goes on to list dozens of examples of non-functional requirements. Given the tight relationship between
    platform and DevOps teams, the DORA Capability catalog (<a href="https://oc.to/GXvCYS">https://oc.to/GXvCYS</a>) may be more relevant as
    it provides a collection of non-functional requirements specifically tailored to DevOps teams. The chapter "Platform
    Engineering Non-Functional Requirements" provides a list of ten common non-functional requirements, or pillars,
    relating to software deployment and operations processes.
</p>

<p>
    Functional requirements are tightly coupled to an IDP and the systems it integrates with. While we won't be going
    into the details of functional requirements in this book, the chapter "Platform Engineering responsibility models"
    describes the 3 common patterns that architectural decisions must adopt when they are implemented at scale in
    DevOps teams.
</p>